<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Movie Recommender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener( "load", function () {
      setTimeout( hideURLbar, 0 );
    }, false );

    function hideURLbar() {
      window.scrollTo( 0, 1 );
    } </script>

    <!-- //for-mobile-apps -->
    <link href="/static/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>

    <link href="/static/css/easy-responsive-tabs.css" th:href="@{/css/easy-responsive-tabs.css}" rel='stylesheet'
          type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/static/css/zoomslider.css" th:href="@{/css/zoomslider.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="/static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <script type="text/javascript" href="/static/js/modernizr-2.6.2.min.js"
            th:href="@{/js/modernizr-2.6.2.min.js}"></script>
    <!--/web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'/>
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet"/>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <!--//web-fonts-->

    <script href="/static/js/jquery-1.11.1.min.js"></script>


    <script type="text/javascript" href="/static/js/jquery.zoomslider.min.js"></script>
    <!-- search-jQuery -->
    <script href="/static/js/main.js"></script>
    <script href="/static/js/simplePlayer.js"></script>


    <!-- pop-up-box -->
    <script href="/static/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->
    <script href="/static/js/easy-responsive-tabs.js"></script>
    <link href="/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <script href="/static/js/owl.carousel.js" th:href="@{/static/js/owl.carousel.js}"></script>
    <script type="text/javascript" href="/static/js/move-top.js"></script>
    <script type="text/javascript" href="/static/js/easing.js"></script>
    <script href="/static/js/bootstrap.js"></script>
</head>
<body>

<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <div class="side-bar-form">
            <form method="get">
                <input type="search" name="search" placeholder="Search here...." required="required"/>
                <input type="submit" value=" "/>
            </form>
        </div>
        <p></p>

        <h3 class="agile_w3_title">Requested <span>Movies</span></h3>
        <!--/requested-movies-->
        <div class="wthree_agile-requested-movies">
            <th:block th:each="item : ${list}">
                <div class="col-md-2 w3l-movie-gride-agile requested-movies">
                    <a th:href="@{'movies/' + ${item.id}}" class="hvr-sweep-to-bottom"><img src="images/m2.jpg"
                                                                                            title="${item.title}"
                                                                                            class="img-responsive"
                                                                                            alt=""/>
                        <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                        <div class="w3l-movie-text">
                            <h6><a th:text="${item.title}" th:href="@{'movies/' + ${item.id}}">Me Before you</a></h6>
                        </div>
                    </div>

                </div>
            </th:block>
            <div class="clearfix"></div>
        </div>
        <!--//requested-movies-->

    </div>
</div>
<!--//content-inner-section-->


<script>
  $( document ).ready( function () {
    $( '.w3_play_icon,.w3_play_icon1,.w3_play_icon2' ).magnificPopup( {
                                                                        type: 'inline',
                                                                        fixedContentPos: false,
                                                                        fixedBgPos: true,
                                                                        overflowY: 'auto',
                                                                        closeBtnInside: true,
                                                                        preloader: false,
                                                                        midClick: true,
                                                                        removalDelay: 300,
                                                                        mainClass: 'my-mfp-zoom-in'
                                                                      } );

  } );
</script>

<script>
  $( document ).ready( function () {
    $( '#horizontalTab' ).easyResponsiveTabs( {
                                                type: 'default', //Types: default, vertical, accordion
                                                width: 'auto', //auto or any width like 600px
                                                fit: true,   // 100% fit in a container
                                                closed: 'accordion', // Start closed if in accordion view
                                                activate: function ( event ) { // Callback function if tab is switched
                                                  var $tab = $( this );
                                                  var $info = $( '#tabInfo' );
                                                  var $name = $( 'span', $info );
                                                  $name.text( $tab.text() );
                                                  $info.show();
                                                }
                                              } );
    $( '#verticalTab' ).easyResponsiveTabs( {
                                              type: 'vertical',
                                              width: 'auto',
                                              fit: true
                                            } );
  } );
</script>
<script>
  $( document ).ready( function () {
    $( "#owl-demo" ).owlCarousel( {

                                    autoPlay: 3000, //Set AutoPlay to 3 seconds
                                    autoPlay: true,
                                    navigation: true,

                                    items: 5,
                                    itemsDesktop: [ 640, 4 ],
                                    itemsDesktopSmall: [ 414, 3 ]

                                  } );

  } );
</script>

<!--/script-->


<script type="text/javascript">
  jQuery( document ).ready( function ( $ ) {
    $( ".scroll" ).click( function ( event ) {
      event.preventDefault();
      $( 'html,body' ).animate( { scrollTop: $( this.hash ).offset().top }, 900 );
    } );
  } );
</script>
<script type="text/javascript">
  $( document ).ready( function () {
    $().UItoTop( { easingType: 'easeOutQuart' } );

  } );
</script>
<!--end-smooth-scrolling-->


</body>
</html>